run = "npm install && npm run dev"
entrypoint = "src/main.tsx"
hidden = [".config", "package-lock.json", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[env]
NODE_ENV = "development"
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[deployment]
run = ["sh", "-c", "npm install && npm run build && npm run start"]
deploymentTarget = "cloudrun"
